@model EMPLOYEESWEBAPPLICATION.Models.EMPLOYEEDETAILS

@{
    ViewBag.Title = "IndexForUser";
}

<h2>IndexForUser</h2>
<br />
@if(TempData["SavedAlert"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["SavedAlert"]!</strong>
    </div>
}
else if (TempData["UpdateAlert"] != null)
{
    <div class="alert alert-success">
        <strong>@TempData["UpdateAlert"]!</strong>
    </div>
}
else if (TempData["DeleteAlert"] != null)
{
    <div class="alert alert-danger">
        <strong>@TempData["DeleteAlert"]!</strong>
    </div>
}
<br />
<p>
    <a href="@Url.Action("ADDOREDIT","EMPLOYEEWEB")">Create a Record</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.EMPLOYEEID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESIGNATION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AGE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SALARY)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERNAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USERPASSWORD)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EMPROLE)
        </th>
        <th></th>
    </tr>


    <tr>
        <td>
            @Html.DisplayFor(Model => Model.EMPLOYEEID)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.NAME)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.DESIGNATION)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.AGE)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.SALARY)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.USERNAME)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.USERPASSWORD)
        </td>
        <td>
            @Html.DisplayFor(Model => Model.EMPROLE)
        </td>
        <td>
            <a href="@Url.Action("ADDOREDIT", "EMPLOYEEWEB", new { id = Model.EMPLOYEEID })">Edit</a>
            <a href="@Url.Action("Delete", "EMPLOYEEWEB", new { id = Model.EMPLOYEEID })">Delete</a>
            @*@Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })*@
        </td>
    </tr>


</table>
